@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;     
}
:root{
    
    --primary-color:black;
    --secondary-color:#fff;
    
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--primary-color);
}

.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--primary-color);
    
}
.logo{
    float: left;
    display: flex;
    color:white;    
    font-size: 24px; 
    font-weight: 700;
    margin-left: 0;
    cursor: pointer;
}

.logo strong{
    color: #53a8da;
}

.profile{
    display: flex;
    justify-content: center;
    padding-right: 100px;
}
.profile a{
    color: var(--secondary-color);
    text-decoration: none;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width:768px){
    .profile a{
        margin-top: 0px;   
    }
    .profile{
        display: flex;
        justify-content: center;
        padding-right: 70px;
    }
}

nav{
    z-index: 10;
    background: var(--primary-color);
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 3%;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    display: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
    display: inline-block; 
    position: relative;   
}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(28, 175, 106);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
    width: 100%;
}
nav .links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;   
}
nav .links li a:hover{
    color: rgb(28, 175, 106);
    font-weight: 700;
}

#portfolionav-toggle{
    position: absolute;
    margin-top: -25px;
    top: -100px;
}

nav .portfolioicon-burger{
    display: block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    
}
nav .portfolioicon-burger .line{
    width: 25px;
    height: 2px;
    background-color:var(--secondary-color) ;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.hero-container{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 150px;
}

.hero-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.hero-text{
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
}
.hero-text p{
    font-size: 22px;
    font-weight: 500;
    color: #ccc;
}
.hero-text h1{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}
@media screen and (max-width:768px){
    .hero-container{
        margin-top: 180px;
    }
    
    .hero-text p{
        font-size: 18px;
        font-weight: 500;
        color: #ccc;
    }
    .hero-text h1{
        font-size: 32px;
        font-weight: 800;
        color: #fff;
    }
    .logo{
        margin-top: -5px;
    }
}

.overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 12.5%;
    width: 75%;
}
.overview a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
@media screen and (max-width:768px){
    .overview{
        left: 19.5%;
        width: 75%;
    }

}

@media screen and (max-width:2560px) {
    nav .links{
        float: none;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        z-index: 9;
        background:#FEF0AC;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
        color: white;
    }
    nav .links li a{
        color:black;
        text-decoration: none;
        font-size: 28px;   
    }

    nav .portfolioicon-burger{
        display: block;
        margin-right: 0px;
    }
   
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(2){
        opacity: 0;

    }
}




.social-media{
    transform: rotate(90deg)translate(-100%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 5%;
    
   
}

.social-media i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .social-media i{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 19px;
       
    }
}







