@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
    background: black;     
}
:root{
    
    --primary-color:black;
    --secondary-color:#fff;
    
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--primary-color);
}

.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--primary-color);
    
}
.logo{
    float: left;
    display: flex;
    color:white;    
    font-size: 24px; 
    font-weight: 700;
    margin-left: 0;
    cursor: pointer;
}

.logo strong{
    color: aqua;
}

.profile{
    display: flex;
    justify-content: center;
    padding-right: 100px;
}
.profile a{
    color: var(--secondary-color);
    text-decoration: none;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (max-width:768px){
    .profile a{
        margin-top: 0px;   
    }
    .profile{
        display: flex;
        justify-content: center;
        padding-right: 70px;
    }
}

nav{
    z-index: 10;
    background: var(--primary-color);
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5rem 3%;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    display: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
    display: inline-block; 
    position: relative;
    background: transparent;     
}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(28, 175, 106);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
    width: 100%;
}
nav .links li a{
    color: white;
    text-decoration: none;
    font-size: 14px;  
    background: transparent;   
}
nav .links li a:hover{
    color: rgb(28, 175, 106);
    font-weight: 700;
}

#portfolionav-toggle{
    position: absolute;
    margin-top: -25px;
    top: -100px;
}

nav .portfolioicon-burger{
    display: block;
    position: absolute;
    right: 5%;
    top: 45%;
    transform: translateY(-50%);
    
}
nav .portfolioicon-burger .line{
    width: 25px;
    height: 2px;
    background-color:var(--secondary-color) ;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.hero-container{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 120px;
}

.hero-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.hero-text{
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
}
.hero-text p{
    font-size: 22px;
    font-weight: 500;
    color: #ccc;
    padding-bottom: 40px;
}
.hero-text h1{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    padding-bottom: 40px;
}
.hero-text a{
    color: #FEF0AC;
    text-decoration: none;
    font-size: 18px;
}
.hero-text a:hover{
    transform: scale(1.05);
    font-size: 20px;
}

@media screen and (max-width:768px){
    .hero-container{
        margin-top: 200px;
    }
    .hero-text{
        flex-basis: 50%;
        flex-grow: 1;
        text-align: left;
        padding-left: 40px;
    }
    
    .hero-text p{
        font-size: 17px;
        font-weight: 500;
        color: #ccc;
    }
    .hero-text h1{
        font-size: 35px;
        font-weight: 800;
        color: #fff;
    }
    .logo{
        margin-top: -5px;
    }
}

.overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 12.5%;
    width: 75%;
}
.overview a{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.overview a:hover{
    transform: scale(1.05);
    font-size: 20px;
}
#green{
    color: aqua;
}
#red{
    color: orangered;
}
#blue{
    color: #A4C7DB;
}

@media screen and (max-width:768px){
    .overview{
        left: 12.5%;
        width: 75%;
    }

}

@media screen and (max-width:2560px) {
    nav .links{
        float: none;
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        z-index: 9;
        background:rgb(1, 36, 36);
        color: #fff;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a{
        font-size: 20px;
        color: white;
        
    }
    nav .links li a{
        color:#fff;
        text-decoration: none;
        font-size: 28px; 
        background: transparent;  
    }

    nav .portfolioicon-burger{
        display: block;
        margin-right: 0px;
    }
   
    nav :checked ~ .links {
        bottom: 0;
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .portfolioicon-burger .line:nth-child(2){
        opacity: 0;

    }
}




.social-media{
    transform: rotate(90deg)translate(-130%);
    transform-origin: left;
    position: absolute;
    bottom: 0;
    left: 5%;
    
   
}

.social-media i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
#bird:hover{
    background: #A4C7DB;
    color: #fff;
}
#cream:hover{
    background: #fae78b;
    color: #fff;
}
#brown:hover{
    background: aqua;
    color: #fff;
}
#peach:hover{
    background: rgb(2, 2, 139);
    color: #fff;
}

@media screen and (max-width:768px){
    .social-media i{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 19px;
       
    }
}


.row{
    width: 80%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    justify-content: space-between;      
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
        text-align: left;    
    }
}

.banner-about{
    height: 0px;
}

.overlay-about{
    height: 0px;
}



.products-list{
    margin-top:18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-list{
    flex-basis: 55%;  
}
.right-list{
    flex-basis: 40%;
}
.left-list h1{
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
    padding-bottom: 8px;
}
.left-list p{
    color: #ccc;
}
.left-list a{
    color: #fff;
    font-size: 20px;
}



@media only screen and (max-width:700px){
    .left-list,.right-list{
        flex-basis: 100%;
        text-align: left;
    }
    .left-list h1{
        padding-top: 20%;
    }

}


.marquee{
    align-items: center;
    justify-content: center;
    display: flex;
    height: var(--marquee-height);
    width: var(--marquee-width);
    background: black;
    color: #ccc;
    margin-top: 50px;
    margin-left: 10%;
    overflow: hidden;
}
:root{
    --marquee-width:80vw;
    --marquee-height:12vh;
    /*--marquee-elements:9;*/
    --marquee-elements-displayed:3;
    --marquee-element-width:calc(var(--marquee-width)/var(--marquee-elements-displayed));
    --marquee-animation-duration:calc(var(--marquee-elements)*10s);
   
}


.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite ;
}

.marquee-content:hover{
    animation-play-state: none;
}

@keyframes scrolling{
    0%{transform: translateX(80vw);}
    100%{transform: translateX(calc(-1*var(--marquee-element-width)*var(--marquee-elements)));}
}


.marquee-content li{
    
    width: var(--marquee-element-width);
    flex-shrink: 0;
    font-size: 18px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media(max-width:768px){
    :root{
        --marquee-height:12vh; 
        --marquee-width:80vw; 
        --marquee-elements-displayed:1;
    }
    .marquee-content li{
        font-size: 16px;
    }
}

.blog-content{
    width: 100%;
    margin: auto;
    padding: 50px 0;
}
.blog-content h2{
    color: #ccc;
    padding-bottom: 30px;
    font-size: 24px;
}
.blog-left{
    flex-basis: 45%;
}
.blog-left h3{
    background: #00001a;
    color: white;
    padding: 9px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right{
    flex-basis: 45%;
}
.blog-right h3{
    background: #00001a;
    color: white;
    padding: 9px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.blogright-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
}
@media screen and (max-width:768px){
    .blog-right{
        margin-top: 30px;
    }
}


.footer-text{
    color: #fff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-text p{
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    padding-bottom: 30px;
    padding-top: 20px;
    border-top: 2px solid #ccc;
}

.footer-text h2{
    color: #fff;
    text-decoration: none;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}
@media screen and (max-width:768px){
    .footer-text h2{
        font-size:28px ;

    }
    .footer-text p{
        font-size: 16px;
    }
}

.connect-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.connect-team{
    display: grid;
    gap: 3.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}
.connect-card{
    width: 100%;
    max-width: 15rem;
    padding: 25px 55px;
    text-align: center;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background: transparent;
    color: #ccc;
    border-radius: 5px; 
    line-height: 1.2;
    transition: transform 0.5s, background 0.5s;
}
.connect-card h3{
    text-align: center;
}
.connect-card:hover{
    border: 2px solid aqua;
    transform: scale(1.05);
   
}


@media screen and (max-width:1024px){
    .connect-team{
        display: flex;
        flex-direction: column;
       margin: 30px 0;
    }  
}

footer{
    width: 100%;
    bottom: 0;
    background: black;
    padding: 30px 0 30px;
    font-size: 13px ;
    line-height: 20px;
    margin-top: 5px;
}

hr{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

@media (max-width: 700px) {
    footer{
        bottom: unset;
         
    }
    .copyright{
        text-align: center;
        margin-left: 0;
        color: white;
        padding-bottom: 50px;
    }
    
}


.contact-header{
    margin-top: 15%; 
    padding-left: 25%;
}
@media screen and (max-width:768px){
    .contact-header{
        padding-left: 0;
    }
    .contact-header h2{
        color: #fff;
        font-size: 48px;
        padding-top: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
}

.contact-header h2{
    color: #fff;
    font-size: 48px;
    padding-bottom: 30px;
    text-align: center;
}

.contact-header p{
    color: #ccc;
    text-align: center;
}


.signup-container{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 5px;
}
.signup-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.signup-text{
    flex-basis: 50%;
    flex-grow: 1;
}

.signup-text{
    background:black;
    color: white;
    padding: 40px 8%;
    min-width: 250px;
}
.signup-text h2{
    font-weight: 600;
}

.signup-text h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.input-field{
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: white;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    background: transparent;
    
}
.signup-form label{
    font-weight: 500;
    font-size: 12px;
    color: #ccc;
}
.signup-form ::placeholder{
    color: #ccc;
}
.form-row{
    display: flex;
    align-items: center;
}
.form-row input{
    margin-right: 6px;
}
.signup-text button {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: white;
    color: #111D67;
    cursor: pointer;
    font-weight: 700;
}
.signup-text button:hover{
    background:#46509b;
    border: 2px solid #46509b;
    color: white;
}

textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:2px solid #ccc ;
    color: #C7E4E3;
    outline: none;
    background: transparent;
}
@media (max-width: 700px){
    .signup-image img{
        width: 360px;
        height: 180px;
        margin-top: 40px;
        padding-bottom: 40px;
        object-fit: cover;
        display: block;
        flex-grow: 1;
    }
}

.product-text{
    margin-top: 15%;
    color: #fff;
}
.product-text h1{
     font-size: 48px;
     font-weight: 600;
}
.product-text p{
    color: #ccc;
    font-size: 22px;
    padding-top: 20px;
}
@media screen and (max-width:768px){
    .product-text{
        margin-top: 30%;
    }
}
.pro-con{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
    margin-top: 5%;
}
.pro-box{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.new-btn{
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    border: 2px solid #ccc;
    padding: 16px 64px;
    font-size: 14px;
    font-weight: bold;       
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 1px;    
}
.new-btn:hover{
    color: rgb(1, 36, 36);
    background: #ccc;
    border: 1px solid #ccc;
}
.pro-left{
    flex-basis: 45%;
    flex-grow: 1;
    background: rgb(1, 36, 36);
    color: white;
    padding: 40px 4%;
    margin-right: 5%;
    min-width: 250px;
}
.pro-left h3{
    background: transparent;
    padding-bottom: 30px;
}
.pro-left h2{
    background: transparent;
    font-size: 32px;
}
.pro-left img{
    width: 100%;
    height: auto;
    padding-top: 40px;
    background: transparent;
}
.pro-left p{
    background: transparent;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width:1024px){
    .pro-left{
        margin-bottom: 5%;
        margin-right: 0%;
        flex-basis: 100%;
    }
    .pro-right{
        flex-basis: 100%;
    }
    
}

.pro-right{
    flex-basis: 45%;
    flex-grow: 1;
    background: rgb(1, 36, 36);
    color: white;
    padding: 40px 4%;
    min-width: 250px;
}
.pro-right h3{
    background: transparent;
    padding-bottom: 30px;
}
.pro-right h2{
    background: transparent;
    font-size: 32px;
}
.pro-right img{
    width: 100%;
    height: auto;
    padding-top: 40px;
    background: transparent;
}
.pro-right p{
    background: transparent;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width:768px){
    .pro-right h2{
        font-size:24px ;
    }
    .pro-right h3{
        font-size:16px ;
        padding-bottom: 20px;
    }
}

@media screen and (max-width:768px){
    .pro-left h2{
        font-size:24px ;
    }
    .pro-left h3{
        font-size:16px ;
        padding-bottom: 20px;
    }
}
 
